@import url('https://fonts.googleapis.com/css?family=Sahitya');

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, ::before, ::after {
  box-sizing: inherit;
} 

body {
  color: #444;
  font-family: Sahitya arial;
}

h1, h2, h3, h4, h5 {
  color: #000;
}

a {
  color: #28c;
  text-decoration: none;
}

.main {
  margin: 20px;
}

img[alt=avatar] {
  border-radius: 50%;
  border: 5px solid #000;
  box-shadow: 0 3px 4px rgba(0,0,0,0.3);
  width: 138px;
  height: 138px;
  display: block;
  margin: auto;
}
h1 {
  text-align: center;
}

h1 + p {
  text-align: center;
}
